/*@import url('src/images/wizeline_bckground.png') screen;*/

.login-container {
    background-image: url('src/images/wizeline_bckground.png');
    background-size: cover;
    backdrop-filter: blur(5px);
    height: 100vh;
  }
  